@charset "UTF-8";
:root
{
    --shadow-prices:8px 4px 10px rgb(0 0 0 / 40%);
}
*
{
    margin: 0px;
    padding: 0px;
}
nav
{
    min-width: 100%;
    width: 100%;
    padding: 5px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    position: fixed;
}
nav a
{
    color:white;
    text-decoration: none;
}
.categorias-menu
{
    font-size: 20px;
    font: normal normal 20px 'Times New roman, Times, serif';

}
#logo
{
    width:200px;
    height:120px;
}
.menu-icons
{
    width: 30px;
}
#gif
{
    border-top: 130px solid black;
    position: inherit;
    width:100%;
    height: 45px;
}

main
{

    text-align: center;
}
#list
{
    list-style-type: none;
    margin: auto;
    columns:2;
    background-color: rgb(255, 255, 255);
    padding: 07.2vw 07vw 8vw 0px

}
.itens
{   margin-left: -4%;
    text-align: right;
    max-width: 100%;
    text-shadow: 10px 10px 10px black;
}
.i1-5
{
    margin: 0px;
    text-align:right;
}
.iten-image
{
    box-shadow: 10px 9px 20px 0px #00000038;
    margin: auto;
    width:80%;
}
.title
{
    text-shadow:var(--shadow-prices);
    margin-top:18px;
    text-align:left;
    font-size: x-large;
    text-indent: 5%;
}
.price
{
    text-shadow:var(--shadow-prices);
    text-align: left;
    font-size: large;
    text-indent: 5%;
}
.sub-price
{
    text-shadow:var(--shadow-prices);
    margin-bottom:18;
    text-indent: 5%;
    text-align:left;
    font-size:medium;
}